{% set page_title = 'Gastro - benhlydaday' %}
{% extends "../elements/_base.twig" %}

{% block content %}

{% include "../elements/_header.twig" %}
<div class="main_content product-page">
    <section class="home5">
        {% include "../elements/_form.twig" %}
    </section>
    <section class="home7">
        {% include "../elements/_about.twig" %}
    </section>
</div>
{% endblock %}
