{% set page_title = 'Gastro - benhlydaday' %}
{% extends "../elements/_base.twig" %}

{% block content %}

{% include "../elements/_header.twig" %}
<div class="main_content benhly-page">
    <div class="benhly1">
        <figure class="benhly1__bg">
            <img src="./assets/images/benhly-bg-1.jpg" alt="">
        </figure>
        <div class="benhly1__wrap wow fadeIn">
            <div class="breadcumb">
                <a class="breadcumb__parent">Trang chủ</a>
                <span class="breadcumb__line">/</span>
                <a class="breadcumb__current" href="#">Bệnh lý dạ dày</a>
            </div>
            <div class="benhly1__text">
                <h2 class="benhly1__title">
                    VÀ NHỮNG ĐIỀU BẠN NÊN BIẾT
                </h2>
                <div class="benhly1__des">
                    <p>
                        <b>Ô nhiễm dạ dày</b>
                        hay bệnh lý viêm dạ dày là sự bào mòn bề ngoài và viêm nhiễm của niêm mạc dạ dày với hai tình trạng cấp tính hoặc mãn tính. Nghiêm trọng hơn, ô nhiễm dạ dày còn dẫn đến một bệnh lý khác mang tên loét dạ dày tá tràng với sự ăn mòn sâu hơn cùng vết loét kéo dài qua lớp cơ của niêm mạc dạ dày hoặc tá tràng.
                    </p>
                    <p>
                        Vậy làm thế nào để phòng tránh? Cùng Gastro NB Plus tìm hiểu nguyên nhân, triệu chứng thường gặp và cách điều trị ô nhiễm dạ dày nhé!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <section class="benhly2">
        <div class="benhly2__wrap">
            <h2 class="benhly2__title benhly__title">
                Nguyên nhân, cơ chế gây bệnh:
                <div class="benhly2__sub">
                    Quá trình hình thành viêm, ổ loét là hậu quả của sự mất cân bằng giữa yếu tố tấn công và yếu tố bảo vệ niêm mạc dạ dày.
                </div>
            </h2>
            <div class="benhly2__block benhly2__block1">
                <h3 class="benhly2__block--title">
                    yếu tố tấn công
                </h3>
                <div class="benhly2__block1--content d-flex">
                    <div class="col benhly2__block1--left">
                        <b>H.pylori:</b>
                        <ul>
                            <li>
                                H.Pylori đóng vai trò chủ yếu trong nguyên nhân và bệnh sinh loét dạ dày – tá tràng. Đây là một loại xoắn khuẩn Gram âm, sống ở lớp niêm mạc và dưới niêm mạc dạ dày – tá tràng, làm tổn thương niêm mạc tại chỗ bằng cách: thoái hoá lớp nhầy bảo vệ niêm mạc, sản xuất ra các men làm tổn thương các tế bào niêm mạc.
                            </li>
                            <li>H.Pylori tiết ra men Urease để thuỷ phân ure thành amoniac gây độc với tế bào niêm mạc, đồng thời ngăn cản quá trình tổng hợp chất nhày làm thay đổi chất lượng và phân bố chất nhầy trên bề mặt niêm mạc. Như vậy, sự toàn vẹn của lớp chất nhầy không còn, kèm theo tổn thương các tế bào biểu mô và dẫn tới loét.</li>
                        </ul>
                        <p>
                            <b>Acid và pepsin dịch vị:</b>
                            Là yếu tố cần thiết cho quá trình hình thành loét dạ dày – tá tràng. Vai trò của acid đã được xác định trong hội chứng Zollinger – Ellison với nhiều ổ loét ở dạ dày và tá tràng do tiết quá nhiều gastrin và sản xuất quá nhiều acid.
                        </p>
                        <p>Ngoài các yếu tố khách quan kể trên, vẫn còn rất nhiều nguyên nhân dẫn đến Ô nhiễm dạ dày mà phần lớn phụ thuộc vào độ tuổi và chế độ sinh hoạt chưa lành mạnh.</p>
                    </div>
                    <div class="col benhly2__block1--right">
                        <b>Vấn đề tuổi tác:</b>
                        <p>
                            <i>Tuổi ngày càng cao:</i>
                            Loét dạ dày thường xảy ra ở những bệnh nhân trên 40 tuổi, và tỷ lệ loét tá tràng cao nhất vào khoảng 60 tuổi.
                        </p>
                        <b>Vấn đề sinh hoạt và người có tiểu sử bệnh:</b>
                        <ul>
                            <li>
                                <i> Dùng thuốc chống viêm không steroid (NSAID):</i>
                                NSAID ngăn chặn sự hình thành prostaglandin trong niêm mạc, vốn thường là một phần của cơ chế bảo vệ của hàng rào niêm mạc.
                            </li>
                            <li>
                                <i> Sử dụng thuốc lá</i>
                                Nicotin làm tăng tiết axit và làm giảm lưu lượng máu đến niêm mạc trong dạ dày và tá tràng.
                            </li>
                            <li>
                                <i>Sử dụng rượu:</i>
                                Rượu có thể gây viêm dạ dày bằng cách kích thích tiết axit và làm tổn thương hàng rào niêm mạc.
                            </li>
                            <li>
                                <i>Đại phẫu hoặc bệnh nặng:</i>
                                Có thể dùng thuốc dự phòng viêm dạ dày và loét ở những bệnh nhân nằm viện, đặc biệt là những bệnh nhân đang thở máy hoặc những người trải qua một cuộc phẫu thuật lớn.
                            </li>
                            <li>
                                <i>Căng thẳng tâm lý cực độ:</i>
                                Đặc biệt là liên quan đến các sự kiện đau buồn.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="benhly2__block benhly2__block2">
                <h3 class="benhly2__block--title">
                    yếu tố bảo vệ
                </h3>
                <div class="benhly2__block2--content">
                    <p>
                        <b>Lớp chất nhầy (Mucin):</b>
                        Thành phần chính là Glucoprotein, các men tiêu hủy Protein có khả năng gây thoái hóa các phân tử chất nhầy dẫn đến giảm khả năng che phủ và ngăn chặn các ion H+ tấn công và tổn thương niêm mạc.
                    </p>
                    <p>
                        <b class="d-block">Bicarbonate:</b>
                        Tác dụng bảo vệ niêm mạc dạ dày
                        <br>
                        Việc chế tiết Bicarbonat của tế bào chế nhầy chịu ảnh hưởng của một số chất trung gian hóa học, hormon, hóa chất
                    </p>
                    <p>
                        <b>Lượng máu đến nuôi dưỡng dạ dày:</b>
                        Khi có rối loạn tưới máu ở niêm mạc dạ dày dẫn đến viêm loét. Sự tái sinh niêm mạc dạ dày.
                    </p>
                    <p>
                        <b>Phospholipid:</b>
                        Có mặt ở lớp nhầy và bề mặt ngoài của tế bào biểu mô.
                    </p>
                    <p>
                        <b>Yếu tố tăng trưởng</b>
                        biểu mô niêm mạc dạ dày.
                    </p>
                    <p>
                        <b>Prostadglandin</b>
                        Prostadglandin
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="benhly3">
        <div class="benhly3__wrap">
            <h2 class="benhly3__title benhly__title">
                triệu chứng
            </h2>
            {% include "../elements/_home4-bottom.twig" %}
        </div>
    </section>
    <section class="benhly4">
        <div class="benhly4__wrap d-flex">
            <div class="col benhly4__left ">
                <h2 class="benhly4__title benhly__title">
                    biến chứng:
                </h2>
                <div class="benhly4__content">
                    <p>
                        <b>Hẹp môn vị:</b>
                        Viêm loét dạ dày tá tràng kéo dài có thể dẫn tới phù nề niêm mạc, tạo sẹo co kéo gây tình trạng chít hẹp khiến thức ăn khó đi qua môn vị, hành tá tràng. Khi bị hẹp môn vị, bệnh nhân sẽ có triệu chứng đau bụng, nôn mửa dữ dội, dịch nôn có mùi hôi. Khi hẹp môn vị tiến triển, người bệnh có triệu chứng đau thượng vị nhiều hơn với biểu hiện đau âm ỉ hoặc dữ dội. Đồng thời, việc nôn mửa nhiều khiến người bệnh mất nước, mất cân bằng điện giải, dễ dẫn tới mệt mỏi và khó chịu. Nếu để lâu, bệnh nhân sẽ sụt cân nhiều, da xanh tái, cơ thể thường xuyên mệt mỏi.
                    </p>
                    <p>
                        <b>Xuất huyết tiêu hóa:</b>
                        15 - 20% bệnh nhân bị viêm loét dạ dày tá tràng từng bị xuất huyết tiêu hóa. Về nguyên lý, khi tình trạng viêm loét kéo dài, vết loét sẽ càng sâu, axit dạ dày càng làm bào mòn vết loét nhiều hơn, gây tổn thương các tế bào, mạch máu gây chảy máu vào ống tiêu hóa, dẫn tới triệu chứng nôn ra máu, đau bụng dữ dội vùng thượng vị, cơn đau có thể lan ra khắp bụng, bụng cứng, toát mồ hôi,... Trường hợp loét tá tràng, máu có thể chảy âm ỉ hoặc ồ ạt, người bệnh có thể đại tiện ra phân đen (mùi hôi hoặc tanh nồng) hoặc phân màu đỏ tươi. Tình trạng xuất huyết tiêu hóa nặng gây mất máu nhiều có thể đe dọa tính mạng bệnh nhân.
                    </p>
                    <p>
                        <b>Thủng dạ dày:</b>
                        Bệnh nhân gặp biến chứng thủng dạ dày có triệu chứng đau bụng dữ dội đột ngột, bụng gồng cứng, có tình trạng sốc,... Nếu không được cấp cứu kịp thời, thủng dạ dày có thể dẫn tới viêm phúc mạc, dễ dẫn đến tử vong. Đặc biệt, biến chứng này có thể xảy ra rất đột ngột, khiến bệnh nhân và người nhà không kịp phản ứng.
                    </p>
                    <p>
                        <b>Ung thư dạ dày:</b>
                        Là biến chứng nguy hiểm nhất của bệnh viêm loét dạ dày - tá tràng vì có tỷ lệ tử vong cao. Tỷ lệ ung thư hóa dạ dày gặp ở 5 - 10% bệnh nhân, chủ yếu ở người bị viêm loét trên 10 năm. Trường hợp phát hiện ung thư dạ dày sớm, thời gian sống thêm 5 - 10 năm của bệnh nhân khá cao. Tuy nhiên, vì dấu hiệu của bệnh thường không điển hình, dễ nhầm lẫn với viêm dạ dày nên đa số người bệnh chủ quan, chỉ phát hiện bệnh khi đã bước sang giai đoạn muộn. Các dạng viêm loét tiền môn vị, môn vị, viêm loét bờ cong nhỏ, viêm loét hang vị dạ dày có nguy cơ biến chứng ung thư dạ dày cao hơn cả.
                    </p>
                </div>
            </div>
            <div class="col benhly4__right ">
                <h2 class="benhly4__title benhly__title">
                    phương thức chuẩn đoán:
                </h2>
                <div class="benhly4__content">
                    <p>
                        <b>Chẩn đoán bệnh dựa trên các triệu chứng lâm sàng:</b>
                        Bác sĩ có thể dựa vào những triệu chứng lâm sàng và căn cứ vào tiền sử bệnh lý, vị trí đau để chẩn đoán bệnh. Tuy nhiên phương pháp này cần thực hiện thêm một số xét nghiệm, siêu âm khác để tăng thêm khả năng chẩn đoán bệnh chính xác.
                    </p>
                    <p>
                        <b>Nội soi dạ dày:</b>
                        Là bước khám dạ dày cần thiết, giúp cung cấp những hình ảnh rõ nét và chính xác trong dạ dày.
                    </p>
                    <p>
                        <b>Xét nghiệm qua hơi thở:</b>
                        Người bệnh sẽ được kiểm tra hơi thở rồi cho uống một viên thuốc tên UBIT để phát hiện xem có vi khuẩn Hp trong dạ dày hay không.
                    </p>
                    <p>
                        <b>Chụp X quang:</b>
                        Chụp X quang cản quang cũng là một phương pháp khám dạ dày. Ưu điểm của phương pháp này là thông qua các hình ảnh, các bác sĩ có thể phát hiện được một số biểu hiện bất thường của dạ dày như: Xoắn dạ dày, khối u dạ dày, hành tá tràng biến dạng...
                    </p>
                    <p>
                        <b>Xét nghiệm phân:</b>
                        Xét nghiệm phân cũng sẽ giúp đưa ra được các nhận định về bệnh lý mà bệnh nhân đang mắc phải.
                    </p>
                    <p>
                        <b>Xét nghiệm máu tìm kháng thể:</b>
                        Khám dạ dày bằng xét nghiệm máu được áp dụng để tìm vi khuẩn Hp trong dạ dày. Khi xuất hiện vi khuẩn Hp, cơ thể sẽ sản sinh ra một loại kháng thể tương ứng với loại vi khuẩn này. Nếu xét nghiệm máu thấy sự tồn tại của loại kháng thể này đồng nghĩa việc bạn có tiền sử nhiễm vi khuẩn Hp dạ dày hoặc đang có vi khuẩn Hp trong dạ dày.
                    </p>
                    <p>
                        <b>Siêu âm dạ dày:</b>
                        Dùng máy siêu âm để kiểm tra dạ dày. Bác sĩ có thể phát hiện được những biểu hiện bất thường trong dạ dày và tầm soát ung thư ( hình ảnh di căn hạch hoặc các cơ quan lân cận, ...).
                    </p>
                    <p>
                        <b>Chụp MRI dạ dày:</b>
                        Kỹ thuật này sử dụng các từ trường và sóng radio để tạo nên các hình ảnh thật chi tiết các cơ quan trong cơ thể.
                    </p>
                    <p>
                        <b>Chụp CT dạ dày:</b>
                        Phương pháp này sử dụng các tia X để tạo nên các hình ảnh lát cắt trong cơ thể để thu về các hình ảnh của dạ dày nhằm chẩn đoán về mức độ, khối u và túi thừa trong bộ phận này.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="benhly5">
        <h2 class="benhly5__title benhly__title">
            mục tiêu điều trị:
        </h2>
        <div class="benhly5__wrap-full">
            <div class="benhly5__wrap d-flex">
                <div class="benhly5__item">
                    <figure class="benhly5__img">
                        <img src="./assets/images/benhly5-img-1.png" alt="">
                    </figure>
                    <div class="benhly5__text">
                        Giảm yếu tố
                        <br>
                        gây loét
                    </div>
                </div>
                <div class="benhly5__item">
                    <figure class="benhly5__img">
                        <img src="./assets/images/benhly5-img-2.png" alt="">
                    </figure>
                    <div class="benhly5__text">
                        Tăng cường yếu tố bảo vệ và tái tạo niêm mạc dạ dày
                    </div>
                </div>
                <div class="benhly5__item">
                    <figure class="benhly5__img">
                        <img src="./assets/images/benhly5-img-3.png" alt="">
                    </figure>
                    <div class="benhly5__text">Diệt trừ vi khuẩn H.pylori bằng kháng sinh và thuốc diệt khuẩn.</div>
                </div>
                <div class="benhly5__item">
                    <figure class="benhly5__img">
                        <img src="./assets/images/benhly5-img-4.png" alt="">
                    </figure>
                    <div class="benhly5__text">Nâng cao thể trạng, phục hồi sức khỏe cho người bệnh.</div>
                </div>
            </div>
        </div>
    </section>
    <section class="benhly6">
        <div class="benhly6__wrap d-flex">
            <div class="benhly6__left">
                <h2 class="benhly6__title">
                    Chế độ ăn uống phòng ngừa viêm loét dạ dày - tá tràng:
                </h2>
                <ul class="benhly6__list">
                    <li>Thức ăn nên thái nhỏ, nấu chín kỹ, mềm, chế biến luộc, hấp hay om giúp cho người đau dạ dày dễ tiêu hóa và dễ hấp thu hơn các món xào, rán.</li>
                    <li>Ăn chậm và nhai kỹ, tránh vừa ăn vừa đọc sách, báo, xem phim... để giúp gia tăng bài tiết của nước bọt, tiêu hoá dễ dàng hơn</li>
                    <li>Nên ăn nhiều bữa nhỏ trong ngày giúp dạ dày thường xuyên có thức ăn để trung hòa được acid.</li>
                    <li>Không để bụng quá đói làm dạ dày rỗng, co bóp mạnh hơn gây đau, thậm chí chảy máu; hoặc ăn quá no khiến dạ dày dạ dày căng to, co bóp yếu ảnh hưởng đến quá trình nhào trộn thức ăn, tăng cọ xát làm gia tăng cơn đau.</li>
                    <li>Tránh ăn thức ăn quá nóng hoặc quá lạnh đều làm dạ dày co bóp mạnh hơn gây đau. Thức ăn ấm khoảng 40-50 độ C tốt cho tiêu hóa - hấp thu.</li>
                </ul>
            </div>
            <div class="benhly6__right">
                <img src="./assets/images/benhly6-img.png" alt="">
            </div>
        </div>
    </section>
    <section class="home7">
        {% include "../elements/_about.twig" %}
    </section>
</div>
{% endblock %}
