{% set page_title = 'Gastro - benhlydaday' %}
{% extends "../elements/_base.twig" %}

{% block content %}

{% include "../elements/_header.twig" %}
<div class="main_content product-page">
    <div class="benhly1">
        <figure class="benhly1__bg">
            <img src="./assets/images/product-banner-img.png" alt="">
        </figure>
        <div class="benhly1__wrap wow fadeIn">
            <div class="breadcumb">
                <a class="breadcumb__parent">Trang chủ</a>
                <span class="breadcumb__line">/</span>
                <a class="breadcumb__current" href="#">Bệnh lý dạ dày</a>
            </div>
            <figure class="benhly1__banner wow fadeIn">
                <img src="./assets/images/product-banner-img.png" alt="">
            </figure>
            <div class="benhly1__text">
                <h2 class="benhly1__title">
                    và những điều bạn nên biết
                </h2>
                <h3 class="benhly1__des">và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết</h3>
            </div>
        </div>
    </div>
    <section class="benhly2">
        <div class="benhly2__wrap">
            <h2 class="benhly__title">
                nguyên nhân, cơ chế gây bệnh:
                <div class="benhly2__sub">và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và</div>
            </h2>
            <div class="benhly2__block benhly2__block1">
                <h3 class="benhly2__block--title">
                    yếu tố tấn công
                </h3>
                <div class="benhly2__block1--content d-flex">
                    <div class="benhly2__block1--left">
                        <b>H.pylori:</b>
                        <ul>
                            <li>yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công</li>
                            <li>yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công</li>
                        </ul>
                        <p>
                            <b>H.pylori:</b>
                            yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công
                        </p>
                        yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công
                    </div>
                    <div class="benhly2__block1--right">
                        <b>H.pylori:</b>
                        <p>
                            <b>
                                <i>Tuổi ngày càng cao:</i>
                            </b>
                            yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công
                        </p>
                        <b>H.pylori:</b>
                        <ul>
                            <li>
                                <b>
                                    <i>yếu tố tấn</i>
                                </b>
                                côngấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công
                            </li>
                            <li>
                                <b>
                                    <i>yếu tố tấn</i>
                                </b>
                                yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố  tố tấn công
                            </li>
                            <li>
                                <b>
                                    <i>yếu tố tấn</i>
                                </b>
                                yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố  tố tấn công
                            </li>
                            <li>
                                <b>
                                    <i>yếu tố tấn</i>
                                </b>
                                yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố tấn công yếu tố  tố tấn công
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="benhly2__block benhly2__block2">
                <h3 class="benhly2__block--title">
                    yếu tố bảo vệ
                </h3>
                <div class="benhly2__block1--content d-flex">
                    <p>
                        <b>Lóp chất nhầy:</b>
                        và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và
                    </p>
                    <p>
                        <b>Lóp chất nhầy:</b>
                        và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và
                    </p>
                    <p>
                        <b>Lóp chất nhầy:</b>
                        và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="benhly3">
        <div class="benhly3__wrap">
            <h2 class="benhly__title">
                triệu chứng
            </h2>
            {% include "../elements/_home4-bottom.twig" %}
        </div>
    </section>
    <section class="benhly4">
        <div class="benhly4__wrap d-flex">
            <div class="benhly4__left">
                <h2 class="benhly__title">
                    biến chứng
                </h2>
                <div class="benhly4__content">
                    <p>
                        <b>xxxxx:</b>
                        và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và
                    </p>
                    <p>
                        <b>xxxxx:</b>
                        và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và
                    </p>
                    <p>
                        <b>xxxxx:</b>
                        và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và
                    </p>
                    <p>
                        <b>xxxxx:</b>
                        và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và
                    </p>
                </div>
            </div>
            <div class="benhly4__right">
                <h2 class="benhly__title">
                    phương thức chuẩn đoán
                </h2>
                <div class="benhly4__content">
                    <p>
                        <b>xxxxx:</b>
                        và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và
                    </p>
                    <p>
                        <b>xxxxx:</b>
                        và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và
                    </p>
                    <p>
                        <b>xxxxx:</b>
                        và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và
                    </p>
                    <p>
                        <b>xxxxx:</b>
                        và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="benhly5">
        <h2 class="benhly__title">
            mục tiêu điều trị:
        </h2>
        <div class="benhly5__wrap d-flex">
            <div class="benhly5__item">
                <figure class="benhly5__img">
                    <img src="./assets/images/product-banner-img.png" alt="">
                </figure>
                <div class="benhly5__title">giảm yếu tố gây loét</div>
            </div>
            <div class="benhly5__item">
                <figure class="benhly5__img">
                    <img src="./assets/images/product-banner-img.png" alt="">
                </figure>
                <div class="benhly5__title">giảm yếu tố gây loét</div>
            </div>
            <div class="benhly5__item">
                <figure class="benhly5__img">
                    <img src="./assets/images/product-banner-img.png" alt="">
                </figure>
                <div class="benhly5__title">giảm yếu tố gây loét</div>
            </div>
            <div class="benhly5__item">
                <figure class="benhly5__img">
                    <img src="./assets/images/product-banner-img.png" alt="">
                </figure>
                <div class="benhly5__title">giảm yếu tố gây loét</div>
            </div>
        </div>
    </section>
    <section class="benhly6">
        <div class="benhly6__wrap d-flex">
            <div class="benhly6__left">
                <h2 class="benhly__title">
                    chế độ ăn uống ngăn ngừa viêm loét dạ dày - tá tràng:
                </h2>
                <ul class="benhly__list">
                    <li>và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và</li>
                    <li>và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và</li>
                    <li>và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và</li>
                    <li>và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và</li>
                    <li>và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và</li>
                    <li>và những điều bạn nên biết và những điều bạn nên biết và những điều bạn nên biết và</li>
                </ul>
            </div>
            <div class="benhly6__right">
                <img src="./assets/images/home6-img.png" alt="">
            </div>
        </div>
    </section>
    <section class="home7">
        {% include "../elements/_about.twig" %}
    </section>
</div>
{% endblock %}
