{% set page_title = 'Gastro - Home' %}
{% extends "../elements/_base.twig" %}

{% block content %}

{% include "../elements/_header.twig" %}
<div class="main_content home-page">
    home
</div>
{% endblock %}
