{% set page_title = 'Gastro - Home' %}
{% extends "../elements/_base.twig" %}

{% block content %}

{% include "../elements/_header.twig" %}
<div class="main_content home-page">
    <section class="home1 home1__slider" id="trangchu">
        <figure class="img">
            <a href="#" class="link"></a>
            <img src="./assets/images/home-block1-slider-1.jpg" alt="">
        </figure>
        <figure class="img">
            <a class="link"></a>
            <img src="./assets/images/home-block1-slider-1.jpg" alt="">
        </figure>
        <figure class="img">
            <a href="#" class="link"></a>
            <img src="./assets/images/home-block1-slider-1.jpg" alt="">
        </figure>
    </section>
    <section class="home2">
        <div class="home2__wrap d-flex flex-wrap">
            <div class="home2__slider">
                <div class="home2__item">
                    <figure class="img">
                        <img src="./assets/images/home2-img.png" alt="">
                    </figure>
                    <div class="text">dạng viên</div>
                </div>
                <div class="home2__item">
                    <figure class="img">
                        <img src="./assets/images/home2-img.png" alt="">
                    </figure>
                    <div class="text">dạng viên</div>
                </div>
            </div>
            <div class="home2__content">
                <h2 class="home2__title">Gastro NB Plus - Thực phẩm bảo vệ dạ dày khỏi ô nhiễm</h2>
                <div class="home2__des">
                    Giống như mẹ Trái Đất, dạ dày của chúng ta có khả năng bị ô nhiễm. Gastro NB Plus với chiết xuất từ 9 loại thảo dược lành tính (sử dụng được cho trẻ > 5 tuổi) giúp hỗ trợ cải thiện các tình trạng ô nhiễm dạ dạ dày như: chống viêm, giảm đau, giúp làm lành vết loét dạ dày; giúp tăng cường chức năng tiêu hóa, cải thiện tình trạng kém ăn, suy nhược ở người viêm loét dạ dày - tá tràng…
                </div>
                <div class="home2__btn">
                    <a href="#" class="btn-g btn-g-normal">xem thêm</a>
                    <button id="home2_to_form" class="btn-g btn-g-normal">đăng ký tư vấn</button>
                </div>
            </div>
        </div>
    </section>
    <section class="home3" id="gioithieu">
        <div class="home3__wrap">
            <h2 class="home3__title">
                CHIẾT XUẤT TỪ 9 LOẠI THẢO DƯỢC QUÝ TRẢ LẠI
                <span class="highlight">"MẢNG XANH”</span>
                CHO DẠ DÀY
            </h2>
            <div class="home3__content pc">
                <div class="home3__row home3__top">
                    <div class="home3__item">
                        <figure class="img">
                            <img src="./assets/images/home3-2.png" alt="">
                        </figure>
                        <figure class="img-hover">
                            <img src="./assets/images/home3-hover.png" alt="">
                        </figure>
                        <div class="text">đẳng sâm</div>
                    </div>
                    <div class="home3__item">
                        <figure class="img">
                            <img src="./assets/images/home3-3.png" alt="">
                        </figure>
                        <figure class="img-hover">
                            <img src="./assets/images/home3-hover.png" alt="">
                        </figure>
                        <div class="text">đẳng sâm</div>
                    </div>
                    <div class="home3__item">
                        <figure class="img">
                            <img src="./assets/images/home3-4.png" alt="">
                        </figure>
                        <figure class="img-hover">
                            <img src="./assets/images/home3-hover.png" alt="">
                        </figure>
                        <div class="text">đẳng sâm</div>
                    </div>
                    <div class="home3__item">
                        <figure class="img">
                            <img src="./assets/images/home3-5.png" alt="">
                        </figure>
                        <figure class="img-hover">
                            <img src="./assets/images/home3-hover.png" alt="">
                        </figure>
                        <div class="text">đẳng sâm</div>
                    </div>
                    <div class="home3__item">
                        <figure class="img">
                            <img src="./assets/images/home3-6.png" alt="">
                        </figure>
                        <figure class="img-hover">
                            <img src="./assets/images/home3-hover.png" alt="">
                        </figure>
                        <div class="text">đẳng sâm</div>
                    </div>
                </div>
                <div class="home3__row home3__bottom">
                    <div class="home3__item">
                        <figure class="img">
                            <img src="./assets/images/home3-7.png" alt="">
                        </figure>
                        <figure class="img-hover">
                            <img src="./assets/images/home3-hover.png" alt="">
                        </figure>
                        <div class="text">đẳng sâm</div>
                    </div>
                    <div class="home3__item">
                        <figure class="img">
                            <img src="./assets/images/home3-8.png" alt="">
                        </figure>
                        <figure class="img-hover">
                            <img src="./assets/images/home3-hover.png" alt="">
                        </figure>
                        <div class="text">đẳng sâm</div>
                    </div>
                    <div class="home3__item">
                        <figure class="img">
                            <img src="./assets/images/home3-9.png" alt="">
                        </figure>
                        <figure class="img-hover">
                            <img src="./assets/images/home3-hover.png" alt="">
                        </figure>
                        <div class="text">đẳng sâm</div>
                    </div>
                    <div class="home3__item">
                        <figure class="img">
                            <img src="./assets/images/home3-2.png" alt="">
                        </figure>
                        <figure class="img-hover">
                            <img src="./assets/images/home3-hover.png" alt="">
                        </figure>
                        <div class="text">đẳng sâm</div>
                    </div>
                </div>
            </div>
            <div class="home3__content--mb mb home3__slider">
                <div class="home3__item">
                    <figure class="img">
                        <img src="./assets/images/home3-2.png" alt="">
                    </figure>
                    <div class="text">đẳng sâm</div>
                </div>
                <div class="home3__item">
                    <figure class="img">
                        <img src="./assets/images/home3-3.png" alt="">
                    </figure>
                    <div class="text">đẳng sâm</div>
                </div>
                <div class="home3__item">
                    <figure class="img">
                        <img src="./assets/images/home3-4.png" alt="">
                    </figure>
                    <div class="text">đẳng sâm</div>
                </div>
                <div class="home3__item">
                    <figure class="img">
                        <img src="./assets/images/home3-5.png" alt="">
                    </figure>
                    <div class="text">đẳng sâm</div>
                </div>
                <div class="home3__item">
                    <figure class="img">
                        <img src="./assets/images/home3-6.png" alt="">
                    </figure>
                    <div class="text">đẳng sâm</div>
                </div>
                <div class="home3__item">
                    <figure class="img">
                        <img src="./assets/images/home3-7.png" alt="">
                    </figure>
                    <div class="text">đẳng sâm</div>
                </div>
                <div class="home3__item">
                    <figure class="img">
                        <img src="./assets/images/home3-8.png" alt="">
                    </figure>
                    <div class="text">đẳng sâm</div>
                </div>
                <div class="home3__item">
                    <figure class="img">
                        <img src="./assets/images/home3-9.png" alt="">
                    </figure>
                    <div class="text">đẳng sâm</div>
                </div>
                <div class="home3__item">
                    <figure class="img">
                        <img src="./assets/images/home3-2.png" alt="">
                    </figure>
                    <div class="text">đẳng sâm</div>
                </div>
            </div>
        </div>
    </section>
    <section class="home4" id="benhlydaday">
        <div class="home4__top text-center">
            <div class="home4__top--wrap">
                <h2 class="home4__top--title">TÌM HIỂU BỆNH LÝ “Ô NHIỄM DẠ DÀY"</h2>
                <div class="home4__top--des">
                    Dạ dày cũng có nguy cơ bị Ô NHIỄM với những dấu hiệu chỉ có bạn mới cảm nhận được. Cùng Gastro NB Plus tìm hiểu về 5 triệu chứng ô nhiễm thường gặp của dạ dày.
                </div>
                <a href="#" class="btn-g btn-g-normal">khám phá ngay</a>
            </div>
        </div>
        <div class="home4__bottom d-flex">
            <div class="home4__bottom--left">
                <div class="home4__bottom--img">
                    <figure data-slide="0" class="img active">
                        <img src="./assets/images/home4-img.png" alt="">
                    </figure>
                    <figure data-slide="1" class="img">
                        <img src="./assets/images/home4-img-1.png" alt="">
                    </figure>
                </div>
            </div>
            <div class="home4__bottom--slider">
                <div class="home4__bottom--item">
                    <h3 class="home4__bottom--title">1. Dạ dày nóng rát</h3>
                    <div class="home4__bottom--des">
                        Tình trạng đi kèm với các triệu chứng đầy bụng, khó tiêu… khiến bạn ăn không ngon, dẫn tới chán ăn.
                    </div>
                    <a href="#" class="btn-g btn-g-white">xem thêm</a>
                </div>
                <div class="home4__bottom--item">
                    <h3 class="home4__bottom--title">1. Dạ dày nóng rát</h3>
                    <div class="home4__bottom--des">
                        Tình trạng đi kèm với các triệu chứng đầy bụng, khó tiêu… khiến bạn ăn không ngon, dẫn tới chán ăn.
                    </div>
                    <a href="#" class="btn-g btn-g-white">xem thêm</a>
                </div>
            </div>
        </div>
    </section>
    <section class="home5" id="dangky">
        <div class="home5__wrap home5__form">
            <h2 class="home5__title text-center">đăng ký tư vấn mua hàng</h2>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <input type="text" placeholder="Họ và tên" class="form-control">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <input type="text" placeholder="Số điện thoại" class="form-control">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <input type="text" placeholder="Email" class="form-control">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <button class="btn-g btn-g-normal mx-100 w-100">gửi ngay</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home6">
        <div class="home6__wrap d-flex">
            <div class="home6__arrow">
                <button type="button" class="slick-arrow slick-prev">
                    <img src="./assets/images/home2-arrow-left.png" alt="">
                </button>
                <button type="button" class="slick-arrow slick-next">
                    <img src="./assets/images/home2-arrow-right.png" alt="">
                </button>
            </div>
            <div class="home6__left">
                <div class="home6__slider">
                    <figure class="img">
                        <img src="./assets/images/home6-img.png" alt="">
                    </figure>
                    <figure class="img">
                        <img src="./assets/images/home6-img.png" alt="">
                    </figure>
                </div>
            </div>
            <div class="home6__right">
                <h2 class="home6__title">
                    TÔI ĐÃ TẠM BIỆT DẠ DÀY Ô NHIỄM NHƯ THẾ NÀO?
                </h2>
                <div class="home6__content">
                    <div class="home6__content-item active" data-slide="0">
                        <div class="home6__content-des">
                            1 May có đồng nghiệp giới thiệu mà tôi biết đến Gastro NB Plus. An toàn, không tác dụng phụ, hiệu quả nhanh chóng, nhờ vậy mà tôi làm việc hiệu quả hơn, không còn bị cơn đau dạ dày hoành hành.
                        </div>
                        <div class="home6__content-author">
                            <div class="name">Trần Minh Chính</div>
                            <div class="position">Graphic Designer - q.2</div>
                        </div>
                    </div>
                    <div class="home6__content-item" data-slide="1">
                        <div class="home6__content-des">
                            2 May có đồng nghiệp giới thiệu mà tôi biết đến Gastro NB Plus. An toàn, không tác dụng phụ, hiệu quả nhanh chóng, nhờ vậy mà tôi làm việc hiệu quả hơn, không còn bị cơn đau dạ dày hoành hành.
                        </div>
                        <div class="home6__content-author">
                            <div class="name">Trần Minh Chính</div>
                            <div class="position">Graphic Designer - q.2</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home7" id="lienhe">
        <div class="home7__wrap d-flex">
            <a class="home7__logo" href="#">
                <img src="./assets/images/home7-logo.png" alt="">
            </a>
            <div class="home7__about">
                <div class="home7__label">
                    về công ty
                </div>
                <div class="home7__about--content">
                    <div class="home7__about--item">
                        <div>Thương nhân chịu trách nhiệm về chất lượng sản phẩm:</div>
                        <b>CÔNG TY CỔ PHẦN DƯỢC PHẨM NINH BÌNH</b>
                        <div>Địa chỉ: Số 09, đường Tuệ Tĩnh, phường Nam Thành, TP. Ninh Bình, tỉnh Ninh Bình.</div>
                    </div>
                    <div class="home7__about--item">
                        <div> Thương nhân chịu trách nhiệm về  phân phối sản phẩm:</div>
                        <b>CÔNG TY CỔ PHÂN DƯỢC PHẨM NIBIFA</b>
                        <div>Địa chỉ: Số 18, Hồ Đắc Di, phường Quang Trung, quận Đống Đa, Hà Nội.</div>
                    </div>
                </div>
            </div>
            <div class="home7__contact">
                <div class="home7__label">
                    hotline
                </div>
                <a href="tel:18001576" class="home7__phone">
                    18001576
                </a>
                <div class="home7__label">
                    connect with us
                </div>
                <div class="home7__social socical">
                    <a href="./#">
                        <img src="./assets/images/social-yt-big.png" alt="youtube">
                    </a>
                    <a href="./#">
                        <img src="./assets/images/social-fb-big.png" alt="facebook">
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
