<div class="home7__wrap d-flex">
    <a class="home7__logo wow fadeInUp" data-wow-delay="0.1s" href="#">
        <img src="./assets/images/home7-logo.png" alt="">
    </a>
    <div class="home7__about wow fadeInUp" data-wow-delay="0.2s">
        <div class="home7__label">
            về công ty
        </div>
        <div class="home7__about--content">
            <div class="home7__about--item">
                <div>Thương nhân chịu trách nhiệm về chất lượng sản phẩm:</div>
                <b>CÔNG TY CỔ PHẦN DƯỢC PHẨM NINH BÌNH</b>
                <div>Địa chỉ: Số 09, đường Tuệ Tĩnh, phường Nam Thành, TP. Ninh Bình, tỉnh Ninh Bình.</div>
            </div>
            <div class="home7__about--item">
                <div> Thương nhân chịu trách nhiệm về  phân phối sản phẩm:</div>
                <b>CÔNG TY CỔ PHÂN DƯỢC PHẨM NIBIFA</b>
                <div>Địa chỉ: Số 18, Hồ Đắc Di, phường Quang Trung, quận Đống Đa, Hà Nội.</div>
            </div>
        </div>
    </div>
    <div class="home7__contact wow fadeInUp" data-wow-delay="0.3s">
        <div class="home7__label">
            hotline
        </div>
        <a href="tel:18001576" class="home7__phone">
            18001576
        </a>
        <div class="home7__label">
            connect with us
        </div>
        <div class="home7__social socical">
            <a href="./#">
                <img src="./assets/images/social-yt-big.png" alt="youtube">
            </a>
            <a href="./#">
                <img src="./assets/images/social-fb-big.png" alt="facebook">
            </a>
        </div>
    </div>
</div>
