<div class="header">
    <div class="header-container">
        <a href="./home.html" class="header-logo">
            <img alt="skill spar" src="./assets/images/logo.png">
        </a>
        <div class="header-menu">
            <ul class="header-menu__nav">
                <li class="active">
                    <a href="./#">trang chủ</a>
                </li>
                <li>
                    <a href="./#">Giới thiệu sản phẩm</a>
                </li>
                <li>
                    <a href="./#">bệnh lý dạ dày</a>
                </li>
                <li>
                    <a href="./#">đăng ký tư vấn</a>
                </li>
                <li>
                    <a href="./#">Liên hệ</a>
                </li>
            </ul>
            <div class="header-social">
                <a href="./#">
                    <img src="../../assets/images/social-yt.png" alt="youtube">
                </a>
                <a href="./#">
                    <img src="../../assets/images/social-fb.png" alt="facebook">
                </a>
            </div>
            {# active #}
            <div class="header-menu__mb">
                <span class="text">
                    menu
                </span>
                <div class="lines">
                    <span class="line line_1"></span>
                    <span class="line line_2"></span>
                    <span class="line line_3"></span>
                </div>
            </div>
        </div>
    </div>
</div>
