<div class="home4__bottom d-flex">
    <div class="home4__bottom--left wow fadeIn">
        <div class="home4__bottom--img">
            <figure data-slide="0" class="img active">
                <img src="./assets/images/daday01.png" alt="">
            </figure>
            <figure data-slide="1" class="img">
                <img src="./assets/images/daday02.png" alt="">
            </figure>
            <figure data-slide="2" class="img">
                <img src="./assets/images/daday03.png" alt="">
            </figure>
            <figure data-slide="3" class="img">
                <img src="./assets/images/daday04.png" alt="">
            </figure>
            <figure data-slide="4" class="img">
                <img src="./assets/images/daday05.png" alt="">
            </figure>
        </div>
    </div>
    <div class="home4__bottom--slider wow fadeInUp">
        <div class="home4__bottom--item">
            <h3 class="home4__bottom--title">1. Dạ dày nóng rát</h3>
            <div class="home4__bottom--des">
                Tình trạng đi kèm với các triệu chứng đầy bụng, khó tiêu… khiến bạn ăn không ngon, dẫn tới chán ăn.
            </div>
            <a href="#" class="btn-g btn-g-white">xem thêm</a>
        </div>
        <div class="home4__bottom--item">
            <h3 class="home4__bottom--title">1. Dạ dày nóng rát</h3>
            <div class="home4__bottom--des">
                Tình trạng đi kèm với các triệu chứng đầy bụng, khó tiêu… khiến bạn ăn không ngon, dẫn tới chán ăn.
            </div>
            <a href="#" class="btn-g btn-g-white">xem thêm</a>
        </div>
        <div class="home4__bottom--item">
            <h3 class="home4__bottom--title">1. Dạ dày nóng rát</h3>
            <div class="home4__bottom--des">
                Tình trạng đi kèm với các triệu chứng đầy bụng, khó tiêu… khiến bạn ăn không ngon, dẫn tới chán ăn.
            </div>
            <a href="#" class="btn-g btn-g-white">xem thêm</a>
        </div>
        <div class="home4__bottom--item">
            <h3 class="home4__bottom--title">1. Dạ dày nóng rát</h3>
            <div class="home4__bottom--des">
                Tình trạng đi kèm với các triệu chứng đầy bụng, khó tiêu… khiến bạn ăn không ngon, dẫn tới chán ăn.
            </div>
            <a href="#" class="btn-g btn-g-white">xem thêm</a>
        </div>
        <div class="home4__bottom--item">
            <h3 class="home4__bottom--title">1. Dạ dày nóng rát</h3>
            <div class="home4__bottom--des">
                Tình trạng đi kèm với các triệu chứng đầy bụng, khó tiêu… khiến bạn ăn không ngon, dẫn tới chán ăn.
            </div>
            <a href="#" class="btn-g btn-g-white">xem thêm</a>
        </div>
    </div>
</div>
