 <section class="product3">
                <figure class="product3__bg">
                    <img class="pc wow fadeIn" src="./assets/images/product2-bg-pc.jpg" alt="">
                    <img class="mb wow fadeInUp" src="./assets/images/product2-bg-mb.jpg" alt="">
                </figure>
                <div class="product3__wrap wow fadeInRight">
                    <h2>đặc điểm của sản phẩm</h2>
                    <ul class="product3__content">
                        <li>Diệt vi khuẩn HP</li>
                        <li>Lành tính, không hại thận</li>
                        <li>Giảm ngay, giảm bền đau dạ dày</li>
                        <li>Được làm từ thảo mộc</li>
                        <li>Giảm viêm loét, phục hồi nhanh</li>
                        <li>
                            Sản xuất trên dây chuyền hiện đại,
                            <br>
                            nhà máy đạt chuẩn GMP
                        </li>
                    </ul>
                </div>
            </section>
            <section class="product4">
                <div class="product4__wrap">
                    <div class="product4__item product4__left wow fadeInUp" data-wow-delay="0.1s">
                        <h2>II. công dụng</h2>
                        <div class="des">
                            <p>Hỗ trợ bổ tỳ vị, giúp bảo vệ niêm mạc dạ dày.</p>
                            <p>Hỗ trợ cải thiện biểu hiện và giảm nguy cơ viêm loét dạ dày - tá tràng.</p>
                        </div>
                    </div>
                    <div class="product4__item product4__right wow fadeInUp" data-wow-delay="0.2s">
                        <h2>III. ĐỐI TƯỢNG</h2>
                        <div class="des">
                            Người có biểu hiện đau thượng vị, ợ hơi, ợ chua, đầy bụng, chán ăn, khó tiêu, trào ngược dạ dày - thực quản do viêm loét dạ dày - tá tràng.
                        </div>
                    </div>
                </div>
            </section>
            <section class="product5">
                <div class="product5__wrap">
                    <div class="product5__item product5__left">
                        <h2 class="wow fadeInUp" data-wow-delay="0.1s">III. CÁCH DÙNG</h2>
                        <div class="content wow fadeInUp" data-wow-delay="0.2s">
                            <p>Người lớn và trẻ em trên 5 tuổi. Ngày uống 3 lần, mỗi lần trước bữa ăn ít nhất 30 phút hoặc sau ăn 2 giờ hoặc uống khi đau.</p>
                            <p>
                                <b>
                                    <i>Nên sử dụng một đợt liên tục từ 1 - 3 tháng để đạt hiệu quả tốt nhất.</i>
                                </b>
                            </p>
                            <p>
                                <b>
                                    <i>Thực phẩm này không phải là thuốc và không có tác dụng thay thế thuốc chữa bệnh.</i>
                                </b>
                            </p>
                            <p class="noted">
                                <b class="d-block">LƯU Ý:</b>
                                Không dùng cho phụ nữ có thai hoặc cho con bú và người mẫn cảm với bất kỳ thành phần nào của sản phẩm.
                            </p>
                        </div>
                    </div>
                    <div class="product5__item product5__right">
                        <img src="./assets/images/product5-img.png" alt="">
                    </div>
                </div>
            </section>