@mixin title {
    font-family: $SVN-Gotham-Bold;
    text-transform: uppercase;
    font-size: 2.344vw;
    @media (max-width: 767px) {
        font-size: 24px;
    }
}
@mixin des {
    font-family: $SVN-Gotham-Book;
    font-size: 1.042vw;
    @media (max-width: 767px) {
        font-size: 16px;
    }
}

.home1 {
    .img {
        position: relative;
    }
    .link {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .slick-dots {
        bottom: 1.198vw;
        li {
            width: 1.198vw;
            height: 1.198vw;
            margin: 0 0.417vw;
            border-radius: 50%;
            background-color: #e0e0e0;
            @media (max-width: 767px) {
                width: 10px;
                height: 10px;
                margin: 0 5px;
            }
            &.slick-active,
            &:hover {
                background-color: #095a95;
            }
            button {
                display: none;
            }
        }
    }
    .slick-arrow {
        width: 2.188vw;
        height: 4.063vw;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        @media (max-width: 767px) {
            width: 20px;
            height: 50px;
        }
        &:hover {
            opacity: 0.6;
        }
    }
    .slick-next {
        right: 4.063vw;
        background-image: url(../assets/images/home1-arrow-right.png);
    }
    .slick-prev {
        left: 4.063vw;
        background-image: url(../assets/images/home1-arrow-left.png);
    }
}
.home2 {
    margin: 5.99vw 17.448vw 0 14.323vw;
    @media (max-width: 767px) {
        margin: 50px 35px;
        margin-bottom: 0;
        max-width: 85%;
    }
    &__wrap {
        @media (max-width: 767px) {
            @include flex-direction(column);
        }
    }
    &__slider {
        width: 34.896vw;
        margin-right: 2.865vw;
        padding-right: 3.906vw;
        padding-left: 3.906vw;
        @media (max-width: 767px) {
            width: 100%;
            margin-bottom: 30px;
        }
        .img {
        }
        .text {
            color: #143a76;
            text-align: center;
            text-transform: uppercase;
            font-family: $SVN-Gotham-Bold;
            font-size: 1.042vw;
            @media (max-width: 767px) {
                font-size: 16px;
                margin-top: 15px;
            }
        }
    }
    &__content {
        flex: 1;
        width: 28.906vw;
        @media (max-width: 767px) {
            width: 100%;
        }
    }
    &__title {
        @include title;
        color: #1d1d1d;
        line-height: 1.2;
        margin-bottom: 1.042vw;
        @media (max-width: 767px) {
            margin-bottom: 10px;
        }
    }
    &__des {
        @include des;
        color: #1d1d1d;
        line-height: 1.15;
    }
    &__btn {
        margin-top: 1.302vw;
        @media (max-width: 767px) {
            margin-top: 10px;
        }
        .btn-g {
            @media (max-width: 767px) {
                margin-top: 10px;
            }
            &:not(:last-child) {
                margin-right: 1.302vw;
            }
        }
    }
    .slick-arrow {
        width: 1.458vw;
        height: 2.76vw;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        @media (max-width: 767px) {
            width: 20px;
            height: 50px;
        }
        &:hover {
            opacity: 0.6;
        }
    }
    .slick-next {
        right: 0;
        background-image: url(../assets/images/home2-arrow-right.png);
        @media (max-width: 767px) {
            right: -25px;
        }
    }
    .slick-prev {
        left: 0;
        background-image: url(../assets/images/home2-arrow-left.png);
        @media (max-width: 767px) {
            left: -25px;
        }
    }
}
.home3 {
    max-width: 85%;
    margin: 1.042vw auto 0 auto;
    padding-top: 4.948vw;
    @media (max-width: 767px) {
        margin-top: 0;
        padding: 50px 0;
    }
    &__wrap {
        width: 64.063vw;
        margin: 0 auto;
        @media (max-width: 767px) {
            width: 100%;
        }
    }
    &__title {
        margin: 0 auto;
        width: 50.521vw;
        font-size: 2.344vw;
        margin-bottom: 2.083vw;
        text-transform: uppercase;
        color: #000;
        text-align: center;
        font-family: $SVN-Gotham-Bold;

        @media (max-width: 767px) {
            width: 100%;
            font-size: 22px;
            margin-bottom: 20px;
        }
        .highlight {
            color: #002b6b;
        }
    }
    &__content {
    }
    &__top {
        // @media (max-width: 767px) {
        //     .home3__item:first-child {
        //         width: 100%;
        //         max-width: 100%;
        //         text-align: center;
        //         .img {
        //             width: 50%;
        //         }
        //     }
        // }
    }
    &__bottom {
        padding-left: 17.448vw;
        @media (max-width: 767px) {
            padding-left: 0;
        }
        .home3__item:nth-child(2) {
            .home3__item--img .img-hover {
                padding-left: 13px;
                padding-right: 14px;
            }
        }
    }
    &__row {
        @include flexbox;
        @media (max-width: 767px) {
            @include flex-wrap(wrap);
            @include justify-content(center);
        }
    }
    &__item {
        text-align: center;
        margin: 0 0.885vw;
        width: 11vw;
        position: relative;
        overflow: hidden;
        @include flexbox;
        @include flex-direction(column);
        @include align-items(center);
        @media (max-width: 767px) {
            margin: 0 10px;
            width: auto;
        }

        &:hover {
            .img {
                @include transform(translate(-50%, -50%) rotate3d(1, 1, 1, 45deg));
                z-index: 1;
                opacity: 0;
                @media (max-width: 767px) {
                    opacity: 1;
                    @include transform(none);
                }
            }
            .img-hover {
                @include transform(translate(-50%, -50%) rotate3d(1, 1, 1, 0));
                z-index: 2;
                opacity: 1;
                // animation: test infinite 0.5s;
            }
            .text {
                opacity: 1;
            }
        }
        .text {
            font-size: 1.18vw;
            margin-top: 1.3vw;
            opacity: 0;
            color: #1d344e;
            text-transform: uppercase;
            font-family: $SVN-Gotham-Bold;
            @media (max-width: 767px) {
                opacity: 1;
                font-size: 14px;
            }
        }
        .img {
            @media (max-width: 767px) {
                max-width: 200px;
                margin: 0 auto;
            }
        }
    }
    &__item--img {
        position: relative;
        width: 14.5vw;
        height: 11.115vw;
        @media (max-width: 767px) {
            width: auto;
            height: auto;
        }
        .img,
        .img-hover {
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
        }
        .img {
            @include transition(all 0.3s ease-in);
            z-index: 2;
            width: 9.115vw;
            margin: 0 auto;
            @media (max-width: 767px) {
                width: auto;
            }
        }
        .img-hover {
            margin: 0 auto;
            transition: all 0.2s ease-in;
            z-index: 1;
            opacity: 0;
            width: 11.719vw;
            padding: 7px;
            @include transform(translate(-50%, -50%) rotate3d(1, 1, 1, 90deg));
            @media (max-width: 767px) {
                width: auto;
            }
        }
    }
    .slick-arrow {
        width: 20px;
        height: 50px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        top: 50%;
        @include transform(translateY(-50%));
    }
    .slick-next {
        right: -17px;
        background-image: url(../assets/images/home2-arrow-right.png);
    }
    .slick-prev {
        left: -17px;
        background-image: url(../assets/images/home2-arrow-left.png);
    }
}
.home4 {
    padding-top: 2.604vw;
    @media (max-width: 767px) {
        padding-top: 0;
    }
    &__top {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url(../assets/images/home4-bg1.jpg);

        @media (max-width: 767px) {
            background-image: none;
            position: relative;
            &::before {
                position: absolute;
                content: "";
                background-color: whitesmoke;
                width: 100%;
                height: 100%;
                border-radius: 80px 0 0 0;
                left: 0;
                bottom: 0;
            }
        }

        .btn-g {
        }
    }
    &__top--wrap {
        padding: 2.083vw 0 1.823vw 0;
        width: 46.094vw;
        margin: 0 auto;
        @media (max-width: 767px) {
            position: relative;
            width: 100%;
            padding: 50px 35px;
            padding-bottom: 120px;
        }
    }
    &__top--title {
        @include title;
        color: #000000;
        margin-bottom: 1.042vw;
    }
    &__top--des {
        @include des;
        margin-bottom: 1.563vw;
        @media (max-width: 767px) {
            margin-bottom: 15px;
        }
    }
    &__bottom {
        background-position: center;
        background-size: 100% 100%;
        background-image: url(../assets/images/home4-bg2.png);
        padding-left: 8.333vw;
        @media (max-width: 767px) {
            padding: 0;
            flex-direction: column;
            background-image: none;
            position: relative;
            &::before {
                position: absolute;
                content: "";
                background-color: #0a5793;
                width: 100%;
                height: 100%;
                border-radius: 0 0 80px 0;
            }
        }
        .slick-dots {
            position: static;
            width: auto;
            text-align: left;
            margin-top: 3.906vw;

            li {
                width: 0.625vw;
                height: 0.625vw;
                margin: 0 0.417vw;
                border-radius: 50%;
                background-color: #67a9cd;
                @media (max-width: 767px) {
                    width: 10px;
                    height: 10px;
                    margin: 0 5px;
                }

                &.slick-active,
                &:hover {
                    background-color: #fff;
                }
                button {
                    display: none;
                }
            }
        }
        .slick-arrow {
            width: 1.458vw;
            height: 2.76vw;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            transform: none;
            top: 35%;
            @media (max-width: 767px) {
                width: 20px;
                height: 50px;
            }

            &:hover {
                opacity: 0.6;
            }
        }
        .slick-next {
            right: -2.083vw;
            background-image: url(../assets/images/home1-arrow-right.png);
            @media (max-width: 767px) {
                right: 10px;
            }
        }
        .slick-prev {
            left: 0;
            background-image: url(../assets/images/home1-arrow-left.png);
            @media (max-width: 767px) {
                left: 10px;
            }
        }
    }
    &__bottom--left {
        width: 40.625vw;
        position: relative;
        transform: translateY(-2.188vw);
        @media (max-width: 767px) {
            width: 85%;
            margin: 0 auto 0;
            height: 45vw;
            transform: translateY(-45px);
        }
    }
    &__bottom--img {
        width: 37.604vw;
        // height: 36.979vw;
        margin-left: auto;
        height: 100%;
        @media (max-width: 767px) {
            position: static;
            width: 100%;
            max-width: 350px;
            margin-left: auto;
            margin-right: auto;
        }
        .img {
            transition: all 0.4s ease;
            z-index: 0;
            opacity: 0;
            position: absolute;
            transform: scale(0.85);
            width: 37.604vw;
            @media (max-width: 767px) {
                left: 50%;
                transform: scale(0.9) translateX(-50%);
            }
            &.active {
                z-index: 1;
                transform: scale(1);
                opacity: 1;

                @media (max-width: 767px) {
                    width: 50vw;
                    transform: scale(1) translateX(-50%);
                }
            }
        }
    }
    &__bottom--slider {
        width: 32.813vw;
        padding: 8.25vw 0 7.813vw 4.427vw;
        @media (max-width: 767px) {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            padding: 50px 35px;
            padding-top: 0;
        }
    }
    &__bottom--item {
        color: #fff;
        .btn-g {
            margin-left: 2px;
        }
    }
    &__bottom--title {
        @include title();
        margin-bottom: 1.823vw;
        margin-top: 0.5vw;
        font-size: 1.75vw;
        @media (max-width: 767px) {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    &__bottom--des {
        @include des;
        margin-bottom: 2.083vw;
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }
}
.home5 {
    margin: 8.073vw 0;
    &__wrap {
        width: 57.292vw;
        margin: 0 auto;
        @media (max-width: 1100px) {
            padding: 0 7%;
        }
        @media (max-width: 767px) {
            width: 100%;
            padding: 0 15px;
            margin: 50px 0;
        }
    }
    &__title {
        @include title();
        margin-bottom: 2.604vw;
        @media (max-width: 767px) {
            margin-bottom: 30px;
        }
    }
    .form-group {
        margin-bottom: 2.083vw;
        @media (max-width: 1100px) {
            margin-bottom: 15px;
        }
    }
    .form-control {
        font-family: $SVN-Gotham-Book;
        color: #000;
        border: 0.104vw solid #7d7d7d;
        border-radius: 1.823vw;
        height: 3.646vw;
        font-size: 1.042vw;
        padding: 0.521vw 1.823vw;
        @media (max-width: 767px) {
            height: 45px;
            font-size: 14px;
            border-radius: 25px;
            padding: 15px;
        }
        @mixin placeholder {
            font-family: $SVN-Gotham-Book;
            color: #14141499;
            font-style: italic;
        }

        &::-webkit-input-placeholder {
            @include placeholder;
        }

        &::-moz-placeholder {
            @include placeholder;
        }

        &:-ms-input-placeholder {
            @include placeholder;
        }

        &:-moz-placeholder {
            @include placeholder;
        }
    }
    .btn-g {
        border-radius: 1.823vw;
        height: 3.646vw;
        font-size: 1.563vw;
        padding-top: 0;
        padding-bottom: 0;
        @media (max-width: 767px) {
            height: 45px;
            font-size: 16px;
            border-radius: 25px;
        }
        &:disabled {
            opacity: 0.7;
            cursor: no-drop;
        }
    }
}
.home6 {
    padding-bottom: 2.604vw;
    padding-left: 18.75vw;
    padding-right: 18.75vw;
    position: relative;
    background-color: #f5f5f5;
    @media (max-width: 767px) {
        padding: 50px 20px;
    }
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        top: 0;
        left: 0;
        background-color: #fff;
        height: 13.021vw;
        @media (max-width: 767px) {
            display: none !important;
        }
    }
    .slick-initialized .slick-slide {
        padding: 0 1px;
    }
    &__wrap {
        position: relative;
        z-index: 1;
        @media (max-width: 767px) {
            @include flex-wrap(wrap);
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__left {
        width: 23.438vw;
        margin-left: 2.344vw;
        margin-right: 4.688vw;
        position: relative;
        z-index: 1;
        @media (max-width: 767px) {
            width: 100%;
            margin: 0;
            padding: 0 30px;
        }
    }
    &__slider {
        .img {
        }
    }
    &__right {
        position: relative;
        z-index: 1;
        @media (max-width: 767px) {
            margin-top: 30px;
        }
    }
    &__title {
        font-family: $SVN-Gotham-Bold;
        color: #11437f;
        text-transform: uppercase;
        position: relative;
        font-size: 2.083vw;
        padding-bottom: 3.906vw;
        padding-top: 4.167vw;

        @media (max-width: 767px) {
            max-width: 100%;
            font-size: 22px;
            padding-bottom: 20px;
            padding-top: 0;
        }

        &::before {
            position: absolute;
            content: "";
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            background-image: url(../assets/images/sign.png);
            width: 5.104vw;
            height: 3.854vw;
            bottom: -1.823vw;
        }
    }
    &__content {
        padding-top: 3.906vw;
        @media (max-width: 767px) {
            padding-top: 20px;
        }
    }
    &__content-item {
        display: none;
        &.active {
            display: block;
        }
    }
    &__content-des {
        font-family: $SVN-Gotham-Book;
        line-height: 1.2;
        font-size: 1.146vw;
        margin-bottom: 2.083vw;
        @media (max-width: 767px) {
            font-size: 16px;
            margin-bottom: 0;
        }
    }
    &__content-author {
        text-align: right;
        margin-top: 20px;
        .name {
            font-family: $SVN-Gotham-Bold;
            text-transform: uppercase;
            color: #005085;
            line-height: normal;
            font-size: 1.563vw;
            @media (max-width: 767px) {
                font-size: 16px;
            }
        }
        .position {
            font-family: $SVN-Gotham-Book;
            line-height: normal;
            font-size: 1.146vw;
            @media (max-width: 767px) {
                font-size: 14px;
            }
        }
    }
    &__arrow {
        position: absolute;
        width: 100%;
        height: 2.604vw;
        bottom: 8.333vw;

        @media (max-width: 767px) {
            bottom: auto;
            height: 40px;
            z-index: 2;
            top: 20%;
        }
    }
    .slick-dots {
        position: static;
        width: 100%;
        text-align: center;
        margin-top: 1.823vw;
        li {
            width: 0.625vw;
            height: 0.625vw;
            margin: 0 0.417vw;
            border-radius: 50%;
            background-color: #ababab;
            @media (max-width: 767px) {
                width: 10px;
                height: 10px;
                margin: 0 5px;
            }
            &.slick-active,
            &:hover {
                background-color: #000000;
            }
            button {
                display: none;
            }
        }
    }
    .slick-arrow {
        width: 1.458vw;
        height: 2.76vw;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;

        @media (max-width: 767px) {
            width: 20px;
            height: 50px;
        }
        &:hover {
            opacity: 0.6;
        }
    }
    .slick-next {
        right: -3.125vw;
        @media (max-width: 767px) {
            right: 0;
        }
    }
    .slick-prev {
        left: -3.125vw;
        @media (max-width: 767px) {
            left: 0;
        }
    }
}
.home7 {
    background: linear-gradient(180deg, #085b96 0%, #133f7b 100%);
    color: #fff;
    padding: 2.344vw 18vw 3.125vw 18vw;

    @media (max-width: 767px) {
        padding: 50px 20px;
    }
    &__wrap {
        @include justify-content(space-between);
        @media (max-width: 767px) {
            @include flex-wrap(wrap);
            @include flex-direction(column);
        }
    }
    &__logo {
        width: 100%;
        display: inline-block;
        width: 13.542vw;
        @media (max-width: 767px) {
            width: 100%;
            max-width: 261px;
            margin-bottom: 30px;
            flex: 1;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__about {
        width: 26vw;
        @media (max-width: 767px) {
            width: 100%;
        }
        b {
            font-family: $SVN-Gotham-Bold;
        }
        .home7__label {
            margin-bottom: 1.302vw;
            @media (max-width: 767px) {
                margin-bottom: 15px;
            }
        }
    }
    &__about--content {
        @media (max-width: 767px) {
            margin-bottom: 30px;
        }
    }
    &__about--item {
        margin-bottom: 1.302vw;
        font-size: 0.938vw;
        @media (max-width: 767px) {
            font-size: 16px;
        }
    }
    &__label {
        font-family: $SVN-Gotham-Bold;
        text-transform: uppercase;
        font-size: 0.938vw;
        @media (max-width: 767px) {
            font-size: 16px;
        }
    }
    &__contact {
        .home7__label {
            margin-bottom: 1.042vw;
            @media (max-width: 767px) {
                margin-bottom: 15px;
            }
        }
    }
    &__phone {
        font-family: $SVN-Gotham-Bold;
        color: #0e4d8a;
        display: inline-block;
        background-color: #fff;
        line-height: normal;
        font-size: 2.083vw;
        padding: 0.313vw 2.083vw;
        border-radius: 1.563vw;
        margin-bottom: 1.563vw;

        @media (max-width: 767px) {
            font-size: 25px;
            padding: 5px 10px;
            border-radius: 20px;
            margin-bottom: 20px;
        }
        &:hover {
            color: #000;
            text-decoration: none;
        }
    }
    &__social {
        @extend .socical;
        a {
            width: 2.865vw;
            height: 2.813vw;
            @media (max-width: 767px) {
                width: 25px;
                height: 25px;
            }
        }
    }
}

.home1__slider,
.home2__slider,
.home4__bottom--slider,
.home6__slider {
    @include your_slider_wrapper;
    &.slick-initialized {
        @include your_slider_wrapper_done;
    }
}
